[package]
name = "ziron-module-go"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
ziron-core = { path = "../../ziron-core" }
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true

